<p id="notice"><%= notice %></p>

<h1>Tweets</h1>


<table>
	<thead>
		<tr>
			<th>Created at</th>
			<th>Id</th>
			<th>Id str</th>
			<th>Text</th>
			<th>Truncated</th>
			<th>Entities</th>
			<th>Source</th>
			<th>In reply to status</th>
			<th>In reply to status id str</th>
			<th>In reply to user</th>
			<th>In reply to user id str</th>
			<th>In reply to screen name</th>
			<th>User</th>
			<th>Geo</th>
			<th>Coordinates</th>
			<th>Place</th>
			<th>Contributors</th>
			<th>Is quote status</th>
			<th>Retweet count</th>
			<th>Favorite count</th>
			<th>Favorited</th>
			<th>Retweeted</th>
			<th>Lang</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @tweets.each do |tweet| %>
			<tr>
				<td><%= tweet.created_at %></td>
				<td><%= tweet.id %></td>
				<td><%= tweet.id_str %></td>
				<td><%= tweet.text %></td>
				<td><%= tweet.truncated %></td>
				<td><%= tweet.entities %></td>
				<td><%= tweet.source %></td>
				<td><%= tweet.in_reply_to_status_id %></td>
				<td><%= tweet.in_reply_to_status_id_str %></td>
				<td><%= tweet.in_reply_to_user_id %></td>
				<td><%= tweet.in_reply_to_user_id_str %></td>
				<td><%= tweet.in_reply_to_screen_name %></td>
				<td><%= tweet.user %></td>
				<td><%= tweet.geo %></td>
				<td><%= tweet.coordinates %></td>
				<td><%= tweet.place %></td>
				<td><%= tweet.contributors %></td>
				<td><%= tweet.is_quote_status %></td>
				<td><%= tweet.retweet_count %></td>
				<td><%= tweet.favorite_count %></td>
				<td><%= tweet.favorited %></td>
				<td><%= tweet.retweeted %></td>
				<td><%= tweet.lang %></td>
				<td><%= link_to 'Show', tweet %></td>
				<td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
				<td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<br>

<%= form_tag tweet_upload_path, multipart: true do %>
	<%= file_field_tag :js %>
	<%= submit_tag "アップ" %>
<% end %>