<h1>Tweets</h1>

<hr>

<div class="row"> 
	<% @tweets.each do |tweet| %>
		<p class="cell">
			<i><%= link_to(tweet.created_at, tweet_url(tweet)) %></i><br>
			<b><%= tweet.user[:name] ? tweet.user[:name] : "codybaldwin" %></b><br>
			<%= tweet.text %>
		</p>
	<% end %>
</div>

<hr>

Upload a 「tweet.js」 file, process all tweets in background:
<%= form_tag tweet_upload_path, multipart: true do %>
	<%= file_field_tag :js %>
	<%= submit_tag "アップ" %>
<% end %>