<h1>Likes</h1>

<hr>

<%= form_tag(likes_path, method: :get) do %>
	<%= text_field_tag :term, params[:term] %>
	<%= submit_tag '検索', name: nil %>
<% end %>

<hr>

<div class="row">
	<% @likes.each do |like| %>
		<p class="cell">
			<i><%= link_to(like.created_at, like.url) %></i><br>
			<b><%= like.screen_name %></b><br>
			<%= like.full_text %><br>
		</p>
	<% end %>
</div>

<hr>

<%= paginate @likes %>

<hr>

Upload a 「like.js」 file, process all likes in background:
<%= form_tag like_upload_path, multipart: true do %>
	<%= file_field_tag :js %>
	<%= submit_tag "アップ" %>
<% end %>
