<h1>Likes</h1>

<hr>

<div class="row"> 
	<% @likes.each do |like| %>
		<p class="cell">
			<i><%= link_to(like.created_at, like.expandedUrl) %></i><br>
			<b><%= like.screen_name %></b><br>
			<%= like.fullText %><br>
		</p>
	<% end %>
</div>

<hr>

Upload a 「like.js」 file, process all likes in background:
<%= form_tag like_upload_path, multipart: true do %>
	<%= file_field_tag :js %>
	<%= submit_tag "アップ" %>
<% end %>