<p id="notice"><%= notice %></p>

<p>
  <strong>Tweetid:</strong>
  <%= @like.tweetId %>
</p>

<p>
  <strong>Fulltext:</strong>
  <%= @like.full_text %>
</p>

<p>
  <strong>Expandedurl:</strong>
  <%= @like.expandedUrl %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
