<!DOCTYPE html>
<html>
	<head>
		<title>ohayo</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="navi">
				<%= link_to "↑", root_path %> |
				<%= link_to "鳥", tweets_path %> |
				<%= link_to "♡", likes_path %> |
			<% if user_signed_in? %>
				<%= link_to "出", destroy_user_session_path, :method => :delete, class: 'exit' %>
			<% else %>
				<%= link_to "入", new_user_session_path, :method => :post  %>
			<% end %>
		</div>
		<%= yield %>
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		<%= content_for :render_async %>
	</body>
</html>
